/* Estilo Globales*/

/*Estilos para evitar el overflow por tener muchos registros*/

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
}

.wrap{
    padding-bottom: 40px;
}

