<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/layou :: head"></head>
<body>

	<header th:replace="components/layou :: header"></header>
	
	<div class="container py-4">

  <!-- El h1 se cambio por los 3 div siguientes -->
<!-- 
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
-->		
 	<div class="card bg-dark text-white">
		<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
			
			
			<!-- Muestra todas las alertas en una lista-->
			<div th:object="${cliente}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
			</div>

		<form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data"><!-- enctype permite subir fotos -->
			
				<div class="form-group row"><!-- class="form-group"  con row agregamos la entrada del texto a la para del Nombre -->
					<label for="nombre" class="col-sm-2 col-form-label" th:text="#{text.cliente.nombre}">Nombre</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="apellido" class="col-sm-2 col-form-label" th:text="#{text.cliente.apellido}">Apellido</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{apellido}" class="form-control" th:errorclass="'form-control alert-danger'"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="email" class="col-sm-2 col-form-label" th:text="#{text.cliente.email}">Email</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="createAt" class="col-sm-2 col-form-label" th:text="#{text.cliente.createAt}">Fecha</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{createAt}" class="form-control" placeholder="yyyy-MM-dd" th:errorclass="'form-control alert-danger'"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="file" class="col-sm-2 col-form-label" th:text="#{text.cliente.foto}">Foto</label>
					<div class="col-sm-6">
						<input type="file" name="file" class="form-control" />
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-6">
						<input type="submit" th:value="${titulo}" class="btn btn-secondary"/>
					</div>
				</div>	

			<!-- Este input permite saber si un registro existe si no exite sera creado pero si ya existe permite actualizarlo
			al no querer utilizar este input: podemos agregar en el clientecontroller marcar @SessionAttributes("cliente") y  al metodo
			guardar se debe agregar SessionStatus y status.setComplet
			-->
			<!--  <input type="hidden" th:field="*{id}"/>  -->
			
		</form>
	</div>
</div>
</div>
	<footer th:replace="components/layou :: footer"></footer>
	
</body>
</html>