<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form #clienteForm="ngForm"> <!-- (ngSubmit) = "create()" se elimino de form porque se agrego en el boton editar-->
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Nombre" #nombre="ngModel" required minlength="4">  <!--#nombre="ngModel" es el campo que conecta con el div que tiene la alerta cuando no cumpla con la cantidad de caracteres para el nombre minimo 4 caracteres-->
                    <!--[(ngModel)]="cliente.nombre" conecta con el atributo o datos de la clase form.component.ts: la directiva ngModel va a poblar con los datos del formulario al objeto cliente y a sus atributos-->
                    <!--Codigo para alerta required campo requerido y minlength el campo debe tener al menos 4 caracteres-->
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger"> <!--Muestra el mensaje de error cuando se escribe o cuando termina de escribir siempre que no cumpla con la condicion -->
                         <!--Mensaje de error para el required -->
                        <div *ngIf="nombre.errors['required']">
                            Nombre es requerido
                        </div>
                           <!--Mensaje de error para el minlength -->
                        <div *ngIf="nombre.errors['minlength']">
                            Nombre debe tener al menos 4 caracteres
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" placeholder="Apellido" #apellido="ngModel" required>
                     <!--Codigo para alerta required campo requerido-->
                     <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
                        <!-- Mensaje de error para el required -->
                         <div *ngIf="apellido.errors['required']">
                             Apellido es requerido
                         </div>      
                     </div>              
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" placeholder="Email" #email="ngModel" [email]="true" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"> <!--#email="ngModel" required ngModel [email]="true"-->
                     <!--Codigo para alerta required campo requerido y minlength el campo debe tener al menos 4 caracteres-->
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)"> 
                        
                        <!--Mensaje de error para el required -->
                         <div *ngIf="email.errors['required']">
                             Email es requerido
                         </div>
                         <!--Mensaje de error para el email  
                         <div *ngIf="email.errors['email']">                          
                             Email debe tener un formato valido
                         </div>
                        -->
                          <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" -->
                         <div *ngIf="email.errors['pattern']">    
                            El email electrónico debe tener un formato válido
                        </div>
                        
                     </div>
                  
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button> <!-- [disabled]="!clienteForm.form.valid"     *ngIf si el cliente id no existe muestra el boton Crear(llama al metodo create()), pero si existe muestra el boton editar y llama al metodo update()(etiqueta elseBlock)-->
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button> 
                     </ng-template>
                    
                </div>
            </div>

        </form>
    </div>
</div>



