<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/layou :: head"></head>
<body>

	<header th:replace="components/layou :: header"></header>
	
	<div class="container py-4">
	
		<div class="card border-primary text-center">
			<div class="card-header" th:text="#{text.login.titulo}">Por favor Sign In</div>
			<div class="card-body">	
			
			<form th:action="@{/login}" method="post">
			
				<div class="form-group col-sm-6">
					<input type="text" name="username" id="username" class="form-control" th:placeholder="#{text.login.username}" autofocus required /> <!-- sin traduccion: placeholder="Username" -->
				</div>
				
				<div class="form-group col-sm-6">
					<input type="password" name="password" id="password" class="form-control" th:placeholder="#{text.login.password}" required />
				</div>
				
				<div class="form-group col-sm-6">
					<input type="submit" class="btn btn-lg btn-primary btn-block" th:value="#{text.login.boton}"/> <!-- Sin traduccion value="Sign In" -->
				</div>
				
				<!-- Para manejar de forma manual Spring security a CSRF. No es necesario agregarlo xq spring security ya lo maneja -->
				
				<!-- Se deshabilito csrf en springSecurityConfig por lo que este input no es necesario ahora se trabajará con JWT
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				-->
			
			</form>
			
			</div>
		</div>
	</div>
	
<footer th:replace="components/layou :: footer"></footer>

</body>
</html>